# Rust
master/target/
master/data/

# Gradle
plugin/.gradle/
plugin/build/
plugin/gradle/

# Velocity Plugin
velocity-plugin/.gradle/
velocity-plugin/build/

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.DS_Store

# Config (user-specific)
ignite-config.toml
